body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gradient-color: linear-gradient(to top right, #ffc593, #bc7198, #5a77ff);
  --pure-black: #000000;
  --light-grey: #dfdfdf;
  --pure-white: #ffffff;
}

html {
  font-size: 10px;
}
